#designer-container {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 600px;
}

#designer-container #btn-zoom-in {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#designer-container #btn-zoom-out {
    position: absolute;
    left: 40px;
    bottom: 10px;
}

#designer {
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: default;
    background-color: #e3ebed;

    font: normal 10px Verdana, Arial, sans-serif;
}

.tableGroup {
    stroke: #707070;
}

.table {
    border: 1px solid black;
    background-color: white;
    min-width: 100px; 

    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;  
}

.table tr {
    border-bottom: 1px solid black;
}
.table tr th {
    font-size: 1.2em;
    padding: 5px;
    background-color: lightcyan;
}

.table td {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

line {
    stroke-width: 1;
    stroke: black
}